<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">

  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Users"
                                 value="{{totalUsers}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Active Users"
                                 value="{{totalActiveUsers}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Upcoming Birthdays"
                                 value="{{upcomingBirthdays}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Upcoming Aniversaries"
                                 value="{{upcomingAniversaries}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Upcoming Releving"
                                 value="{{upcomingReleving}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Departments"
                                 value="{{totalDepartments}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Clients"
                                 value="{{totalClients}}"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
                                 icon="mat:group"
                                 iconClass="text-primary bg-primary/10"
                                 label="Active Clients"
                                 value="{{totalActiveClients}}"></vex-widget-quick-value-center>

                                 <vex-widget-large-chart [series]="userSessionsSeries" [title]="userTitle"
                                 class="sm:col-span-2"></vex-widget-large-chart>
                                 <vex-widget-large-chart [series]="userSessionsSeries" [title]="clientTitle"
                                 class="sm:col-span-2"></vex-widget-large-chart>
</div>