<div [@stagger]="true" class="p-gutter container">
  <div class="flex flex-col sm:flex-row gap-4">
      <div @fadeInUp class="card flex-auto">
        <div class="px-6 py-4 border-b flex items-center">
          <h2 class="title m-0">User Form</h2>
        </div>
  <form [formGroup]="form">
    <div class="px-6 py-4 flex flex-col">
      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput required>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput required>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput required>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Status</mat-label>
          <mat-select formControlName="active">
            <mat-option value="true">Active</mat-option>
            <mat-option value="false">Not Active</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Phone</mat-label>
          <input type="number" formControlName="phone" matInput required>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Addresss</mat-label>
          <input formControlName="address" matInput required>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Joining Date</mat-label>
          <input type="date" formControlName="joiningDate" matInput required>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Releving Date</mat-label>
          <input type="date" formControlName="relevingDate" matInput>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>DOB</mat-label>
          <input type="date" formControlName="dob" matInput required>
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>Aadhar Number</mat-label>
          <input formControlName="aadharNo" matInput required>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-end gap-2">
        <button (click)="cancel()" mat-button type="button">Cancel</button>
        <button type="submit" (click)="onSubmit()" color="primary" mat-raised-button>Submit</button>
      </div>
    </div>
  </form>
      </div>
    </div>
</div>