<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">About</h2>
      </div>
      <div class="px-gutter py-4 border-b">
        <button type="submit" color="primary" mat-raised-button>Edit Profile</button>
      </div>

      <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="py-3 flex items-center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">+1 (930) 502-3182</p>
            <p class="m-0 caption text-hint">Business</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:work"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">Web Developer at IceCube</p>
            <p class="m-0 caption text-hint">Previously Designer at HotStuff</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">david.smith@example.com</p>
            <p class="m-0 caption text-hint">Business inquiries only</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:access_time"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">Usually available 9am-5pm</p>
            <p class="m-0 caption text-hint">Call +1 (930) 242-5186 for important things</p>
          </div>
        </div>
        <div class="py-3 flex items-center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:account_box"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">Admin</p>
            <p class="m-0 caption text-hint">Department Position</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
